* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden; 
  overflow-y: hidden; /* Prevent vertical scrolling */
  background: linear-gradient(-45deg, #000051, #00004a, #000042, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.container {
  width: 100vw;
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent overflow */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* Center Mandala Styles */
.center-mandala {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  /* Responsive size */
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mandala and Logo Styles */
.mandala-center {
  width: 40vmin;
  height: 40vmin;
  opacity: 0.8;
  animation: rotatemandala 60s linear infinite;
}

.cu-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
  z-index: 2;
  display: inline-block;
  /* Ensures only the logo is affected */
}

.mandala-left,
.mandala-right {
  width: 50vmin;
  height: 50vmin;
  opacity: 1;
  position: absolute;
}

.mandala-left {
  top: 35%;
  left: -35vmin;
  /* Adjust to center horizontally on the left */
  animation: pulse 6s ease-in-out infinite;
}

.mandala-right {
  top: 35%;
  right: -35vmin;
  /* Adjust to center horizontally on the right */
  animation: pulse 6s ease-in-out infinite;
}

/* Keyframes for CU Raaga mandala rotation */
@keyframes rotatemandala {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Keyframes for mandala pulsing effect */
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.header {
  position: fixed !important;
  width: 100%;
}

.nav-item {
  text-align: center;
  color: white !important;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Navbar styling */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  /* Transparent background */
  padding: 10px 0;
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: center;
}

.navbar {
  display: flex;
  gap: 30px;
  /* Space between links */
  margin-left: 10px;
  /* Push links to the right */
  margin-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 2.5vmin;
  font-weight: bolder;
}

.nav-link:hover {
  color: #ff8000;
  /* Optional hover color */
}

/* Styling for the centered logo */
.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  /* Adjust size as needed */
}


/* Mission Section Styles */
.mission-section {
  text-align: center;
  padding: 1rem;
  color: #ef8332;
  width: 80%;
  max-width: 700px;
  position: absolute;
  /* Fixes the mission section */
  top: 70%;
  /* Adjust to position it slightly below the header */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  /* Ensures it stays above other elements */
  border-radius: 10px;
  /* Rounded corners */
  line-height: 1px;
}

.mission-title {
  font-size: 2.5vmin;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ff8000;
}

.mission-text {
  font-size: 2vmin;
  line-height: 1.5;
  color: #3fa591;
}

/* Responsive Mission Text */
@media (max-width: 768px) {
  .mission-title {
    font-size: 4vmin;
  }

  .mission-text {
    font-size: 3vmin;
  }
}

.container {
  height: 100vh; /* Full viewport height */
}

.bg-white {
  /* Optional: Add shadow and rounded corners */
  border-radius: 5px;
}

.mandala-left,
.mandala-right {
  width: 50vmin;
  height: 50vmin;
  opacity: 1;
  position: fixed;
}

.mandala-left {
  top: 35%;
  left: -35vmin;
  /* Adjust to center horizontally on the left */
  animation: pulse 6s ease-in-out infinite;
}

.mandala-right {
  top: 35%;
  right: -35vmin;
  /* Adjust to center horizontally on the right */
  animation: pulse 6s ease-in-out infinite;
}


/* Keyframes for mandala pulsing effect */
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}